<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellen.batch.demo.mapper.UserMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" >
		insert  into user (createBy,credateAt,updateBy,updateAt,name,phone,picture,sex)
		values
		(#{createBy},sysdate(),#{updateBy},#{updateAt},#{name},#{phone},#{picture},#{sex})
	</insert>
	<select id="listAll" resultType="com.hellen.batch.demo.domain.User">
		SELECT * FROM user ;
	</select>
</mapper>
